   body {
    padding: 0px;
    margin: 0px;
    color:white;
    background-color: black;
    text-align: center;
   }

   h1{
    font-family: "Inter-UI-Black";
    font-size: 2em;
   }

   .homeLogo{
       height: 100px;
       margin: 0 auto;
       padding-bottom: 30px;
       padding-top: 30px;
   }

   .home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

   #title-bar {
    -webkit-app-region: drag;
    height: 32px;
    font-size: 12px;
    background-color: black;
    padding: none;
    margin: 0px; 
   }
   
   #title {
    position: fixed;
    top: 0px;
    left: 6px; 
   }
   
   #title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    left: 6px;
   }

   button{
    border: 0;
    border-radius: 50px;
    background: #1E88E5;
    color: #1E88E5;
    height: 12px;
    width: 12px;
    font-family: system-ui, sans-serif;
    font-size: 0px;
    white-space: nowrap;
    text-decoration: none;
    padding: .35rem;
    margin: 0.1rem;
    cursor: pointer;
   }

   input[type=submit] {
    padding:5px 15px; 
    font-size: 11px;
    width: 15px;
    color: #28CD40;
    border-radius: 50px;
    background:#28CD40;
    border: 0 none;
    cursor:pointer;
   }

   input[type=text], input[type=number] {
    padding:5px 15px;
    margin:5px 15px; 
    font-size: 11px;
    font-family: "Inter-UI-Regular";
    width: 180px;
    border-radius: 13px;
    background:white;
    border: 0 none;
   }

   input[type=number], .nextToButton{
    padding-right: 0px; 
    width: 160px;
   }

   #max-btn {
    background: #28CD40;
   }

   #min-btn {
       background-color:#FEBE2E;
       border-radius: 50px;
       padding: 0px 5px 0px 5px;
   }

   #close-btn {
       background-color: #FE6158;
       border-radius: 50px;
       padding: 0px 5px 0px 5px;
   }

@font-face{
    font-family: "Inter-UI-Black";
    src: url('../interUI/Inter-UI-Black.woff'),
    url('../interUI/Inter-UI-Black.woff');
}

@font-face{
    font-family: "Inter-UI-Bold";
    src: url('../interUI/Inter-UI-Bold.woff'),
    url('../interUI/Inter-UI-Bold.woff');
}

@font-face{
    font-family: "Inter-UI-Medium";
    src: url('../interUI/Inter-UI-Medium.woff'),
    url('../interUI/Inter-UI-Medium.woff');
}

@font-face{
    font-family: "Inter-UI-Regular";
    src: url('../interUI/Inter-UI-Regular.woff'),
    url('../interUI/Inter-UI-Regular.woff');
}